body {
  background: url(Media/BlogHeader_7a17d791-36e5-47bc-be9b-126f2cd13a5b_1296x.jpeg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Copperplate, Arial, sans-serif;
  font-size: 100%;
  }

h1, h2, p, div {
    text-align: center;
    padding: 10px;
  }

  p {
      text-indent: 50px;
}

  #content {
    padding: 20px;
    background: rgba(255,255,255,.85);
  }

  .wrapper {
    margin: 0 auto;
    width: 60%;
    padding-bottom: 40px;
  }

  img, iframe {
    display: inline-block;
    height: 300px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  #dogs {
    width: 270px;
}
  #hobbies, #plan {
    display: inline-block;
    text-align: left;
  }

   .topnav {
    width: auto;
    background: #000;
    padding: 10px;
    text-align: center;
    word-spacing: 30px;
   }

  a {
    color: #2c87f0;
  }
  a:visited {
    color: rgb(90, 32, 107);
  }
  a:hover, a:active, a:focus {
    color:#c33;
  }

  