body {
  background: url(Media/BlogHeader_7a17d791-36e5-47bc-be9b-126f2cd13a5b_1296x.jpeg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Copperplate, Arial, sans-serif;
  font-size: 100%;
  }

h1 {
      text-align: center;
  }

h2 {
    text-align: center;

  }

  p {
      text-indent: 50px;
}

  #content {
    padding: 20px;
    background: rgba(255,255,255,.85);
  }

  .wrapper {
    margin: 0 auto;
    width: 60%;
    padding-bottom: 40px;
  }

  img, iframe {
    display: inline-block;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  #Profile {
    display: block;
    height: 300px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
   }

   .topnav {
    text-color: #fff;
    width: auto;
    background: #000;
    padding: 10px;
    text-align: center;
    word-spacing: 30px;
   }